@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 15%);

    /* light mode defaults */
    --color-light-primary: 83deg 80% 2%; /* #060901 */
    --color-light-text: 215deg 50% 23%; /* #1D3557 */
    --color-light-text-2: 216deg 11% 57%; /* #858F9E */
    --color-light-bg: 211deg 100% 96%; /* #EAF4FF */
    --color-light-bg-card: 0deg 0% 100%; /* #fff */
    --color-light-acc: 264deg 82% 38%; /* #5111b0 */
    --color-light-sec: 211deg 28% 74%; /* #aabccf */
    --color-light-border: 220deg 14% 96%; /* #f3f4f6 */

    /* dark mode defaults */
    --color-dark-primary: 202deg 63% 62%; /* #62afdb */
    --color-dark-text: 330deg 20% 96%; /* ##f7f3f5 */

    --color-dark-bg: 221deg 39% 11%; /* #121826 */
    /* --color-dark-bg-card: 220deg 36% 5%; #080b12 */
    --color-dark-bg-card: 215deg 28% 17%; /* #1f2937 */

    --color-dark-acc: 264deg 82% 38%; /* #5111b0 */
    --color-dark-sec: 229deg 22% 20%; /* #282c3e */
    --color-dark-border: 217deg 19% 27%; /* #384252 */

    --radius: 6px;

    --gray: 96, 115, 159;

    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);

    --box-light-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --box-dark-shadow: none;

    --displayfont: "Barlow Condensed", sans-serif;
    --defaultfont: "Roboto", sans-serif;
    --MinecraftFont: "Minecrafter";
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --clr-pri: var(--color-dark-primary);
      --clr-text: var(--color-dark-text);
      --clr-text-2: var(--color-dark-text-2);
      --clr-bg: var(--color-dark-bg);
      --clr-bg-card: var(--color-dark-bg-card);
      --clr-acc: var(--color-dark-acc);
      --clr-sec: var(--color-dark-sec);
      --clr-border: var(--color-dark-border);
      --shadow: var(--box-dark-shadow);
      color-scheme: dark;
    }
  }
  :root[data-theme="dark"] {
    --clr-pri: var(--color-dark-primary);
    --clr-text: var(--color-dark-text);
    --clr-text-2: var(--color-dark-text-2);
    --clr-bg: var(--color-dark-bg);
    --clr-bg-card: var(--color-dark-bg-card);
    --clr-acc: var(--color-dark-acc);
    --clr-sec: var(--color-dark-sec);
    --clr-border: var(--color-dark-border);
    --shadow: var(--box-dark-shadow);

    color-scheme: dark;
  }
  :root[data-theme="light"] {
    --clr-pri: var(--color-light-primary);
    --clr-text: var(--color-light-text);
    --clr-text-2: var(--color-light-text-2);
    --clr-bg: var(--color-light-bg);
    --clr-bg-card: var(--color-light-bg-card);
    --clr-acc: var(--color-light-acc);
    --clr-sec: var(--color-light-sec);
    --clr-border: var(--color-light-border);
    --shadow: var(--box-light-shadow);

    color-scheme: light;
  }
}

@font-face {
  font-family: "Minecrafter";
  src: url("https://cdn.playcdu.co/Images/Minecrafter.Reg.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  color: #4b5563;
}


* {
  scrollbar-width: thin;
  scrollbar-color: #62afdb #282c3e;
  /* background-color: rgba(0, 255, 0, 0.1); */
}
/* scroll bar styling  */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #282c3e;
}
::-webkit-scrollbar-thumb {
  background: #62afdb;
  border-radius: 10px;
  opacity: 0.5;
}
::-webkit-scrollbar-thumb:hover {
  background: #518fb3;
}
::-webkit-scrollbar-thumb:active {
  background: #41728f;
}
html {
  /* smooth scroll */
  margin: inherit;
  padding: inherit;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: rgba(255, 0, 0, 0.04); */
}

body {
  background: linear-gradient(
    90deg,
    hsl(var(--clr-bg)) 0%,
    hsl(var(--clr-bg)) 50%,
    hsl(var(--clr-sec)) 50%,
    hsl(var(--clr-sec)) 100%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: "Tilt Warp", "cursive";
  min-height: 100vh;
  min-height: 100dvh;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

.btn__vote--heart {
  background: url("/heart.svg");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.btn__vote--heartbreak {
  width: 20px;
  height: 20px;
  background-image: url("/heartbreak.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.btn__vote--heart:disabled,
.btn__vote--heartbreak:disabled {
  /* disabled button no animation */
  animation: none;
  pointer-events: none;
}

.heartFilled {
  width: 20px;
  height: 20px;
}

select,
option {
  font-family: "Lucida Console", Monaco, monospace;
}
@supports (font-family: "Tilt Warp", "cursive") {
  select,
  option {
    font-family: "Tilt Warp", "cursive";
  }
}

input[type="file"]::file-selector-button {
  all: unset;
  content: " Select a file...";
  padding-right: 1rem;
  color: rgb(148 163 184);
}

input[type="file"]::file-selector-button:hover {
  color: rgb(100 116 139);
}
.lazy-load-image {
  width: 256px;
  height: 144px;
}

@media screen and (min-width: 468px) {
  .lazy-load-image-2 {
    min-width: none;
  }
}

@media only screen and (min-width: 1280px) {
  .lazy-load-image {
    width: auto;
    height: 166px;
  }
}
.spacer-left {
  padding-left: 2rem;
}
.spacer-left-2 {
  padding-left: 10px;
}

/*progressbar*/
.progress__steps {
  /*CSS counters to number the steps*/
  counter-reset: step;
  z-index: 20;
  display: flex;
  overflow: hidden;
}
.progress__steps li {
  width: 100%;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}
.progress__steps a:before {
  content: counter(step);
  counter-increment: step;
  width: 32px;
  aspect-ratio: 1/1;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 0.375rem;
  margin: 5px auto 5px auto;
  border: 1px solid hsl(var(--clr-text) / 0.5);
}
/*progress__steps connectors*/
.progress__steps a:after {
  content: "";
  width: 102%;
  height: 0.375rem;

  position: absolute;
  top: 30%;
  left: -50%;
  z-index: -1; /*put it behind the numbers*/
}
.progress__steps a:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progress__steps a.progress__step--active:before,
.progress__steps a.progress__step--active:after {
  background-color: hsl(var(--clr-bg) / 0.8);
  border: 1px solid hsl(var(--clr-text) / 0.5);
}
.progress__steps a.progress__step--curLink:before,
.progress__steps a.progress__step--curLink:after {
  background-color: hsl(var(--clr-bg));
  border: 1px solid hsl(var(--clr-text) / 0.75);
}

.progress__steps a.progress__step--link:hover:before,
.progress__steps a.progress__step--link:hover:after {
  background-color: hsl(var(--clr-bg));
  border: 1px solid hsl(var(--clr-text));
}

/* BIG LINES */

/* Dialog component styles */

.dialog-container {
  position: fixed;
  inset: 0;
  z-index: 40;
  --tw-bg-opacity: 0.7;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  opacity: 0.75;
}

.dialog-backdrop {
  position: absolute;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  outline: 2px solid transparent;
  outline-offset: 2px;
  cursor: pointer;
}

.dialog-backdrop:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.dialog-placement {
  position: relative;
  margin: 1.5rem auto;
  width: auto;
  width: 32rem;
}

.dialog-content-container {
  position: relative;
  display: grid;
  place-content: center;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  padding: 1.5rem;
}

/* DROPDOWN COMP */

.dropdown-body {
  display: none;
  top: 20px;
  height: 100%;
}

.dropdown-body.open {
  display: block;
}

.dropdown-item {
  padding: 10px;
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-item-dot {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.dropdown-item-dot.selected {
  opacity: 1;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  border-radius: 0.375rem;
  background-color: #000;
  background-color: hsla(0, 0%, 0%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 0%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-clip-rotate,
.la-ball-clip-rotate > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.la-ball-clip-rotate {
  display: block;
  font-size: 0;
  color: #fff;
}
.la-ball-clip-rotate.la-dark {
  color: #333;
}
.la-ball-clip-rotate > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}
.la-ball-clip-rotate {
  width: 32px;
  height: 32px;
}
.la-ball-clip-rotate > div {
  width: 32px;
  height: 32px;
  background: transparent;
  border-width: 2px;
  border-bottom-color: transparent;
  border-radius: 100%;
  -webkit-animation: ball-clip-rotate 0.75s linear infinite;
  -moz-animation: ball-clip-rotate 0.75s linear infinite;
  -o-animation: ball-clip-rotate 0.75s linear infinite;
  animation: ball-clip-rotate 0.75s linear infinite;
}
.la-ball-clip-rotate.la-sm {
  width: 16px;
  height: 16px;
}
.la-ball-clip-rotate.la-sm > div {
  width: 16px;
  height: 16px;
  border-width: 1px;
}
.la-ball-clip-rotate.la-2x {
  width: 64px;
  height: 64px;
}
.la-ball-clip-rotate.la-2x > div {
  width: 64px;
  height: 64px;
  border-width: 4px;
}
.la-ball-clip-rotate.la-3x {
  width: 96px;
  height: 96px;
}
.la-ball-clip-rotate.la-3x > div {
  width: 96px;
  height: 96px;
  border-width: 6px;
}
/*
  * Animation
  */
@-webkit-keyframes ball-clip-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes ball-clip-rotate {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes ball-clip-rotate {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes ball-clip-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
