@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --clr-bkg-0: 100deg 4% 98%;  /* #f3faf0 */
    --clr-bkg-100: 0deg 0% 8%;       /* #141414 */
    --clr-bkg-200: 198deg 61% 63%; /* #3f83a1 */
    --clr-bkg-300: 206deg 63% 56%; /* #35688f */
    --clr-bkg-400: 205deg 70% 31%; /* #18384f */
    --clr-bkg-500: 215deg 50% 23%; /* #1d2a3b */
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --clr-bkg-0: 0deg 0% 8%;       /* #141414 */
      --clr-bkg-100: 100deg 4% 98%;  /* #f3faf0 */
      --clr-bkg-200: 202deg 63% 63%; /* #62afdb */
      --clr-bkg-300: 206deg 63% 56%; /* #35688f */
      --clr-bkg-400: 198deg 44% 44%; /* #3f83a1 */
      --clr-bkg-500: 205deg 53% 20%; /* #18384f */
      --clr-bkg-600: 215deg 50% 23%; /* #1d2a3b */

    }
  }
}
* {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(255, 255, 255, 0.025);
  -webkit-border-radius: 100px;
  /* scrollbar-color: var(--base-hue) var(--hsl-b6); */
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
::-webkit-scrollbar:horizontal {
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(255, 255, 255, 0);
  min-height: 10px; /*Prevent it from getting too small */
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */

::-webkit-scrollbar-thumb:active {
  background: rgba(
    255,
    255,
    255,
    0.61
  ); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}
