@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --clr-text: 83deg 80% 2%; /* #060901 */
    --clr-bg: 84deg 100% 99%; /* #fdfffa */
    --clr-acc: 264deg 82% 38%; /* #5111b0 */
    --clr-pri: 202deg 63% 62%; /* #62afdb */
    --clr-sec: 211deg 28% 74%; /* #aabccf */
    /* --clr: hsl(211, 28%, 74%); */
  }
/* html data-theme dark */
    html[data-theme="dark"]{
      --clr-text: 330deg 20% 96%; /* ##f7f3f5 */
      --clr-bg: 230deg 30% 12%; /* #151827 */
      --clr-acc: 264deg 82% 38%; /* #5111b0 */
      --clr-pri: 202deg 63% 62%; /* #62afdb */
      --clr-sec: 229deg 22% 20%; /* #282c3e */

      --clr-border-0: 230deg 21% 23%; /* #2e3247 */
      /* #b473ff */
      /* #151827  #1a1d30*/
      --clr: #8e42ff;
    }

    html[data-theme="light"] {
      --clr-text: 83deg 80% 2%; /* #060901 */
      --clr-bg: 84deg 100% 99%; /* #fdfffa */
      --clr-acc: 264deg 82% 38%; /* #5111b0 */
      --clr-pri: 202deg 63% 62%; /* #62afdb */
      --clr-sec: 211deg 28% 74%; /* #aabccf */
      /* --clr: hsl(211, 28%, 74%); */
    }
  
}
* {
  scrollbar-width: thin;
  scrollbar-color: #62afdb #282c3e;
  /* background-color: rgba(0, 255, 0, 0.1) */
}
/* scroll bar styling  */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #282c3e;
}
::-webkit-scrollbar-thumb {
  background: #62afdb;
  border-radius: 10px;
  opacity: 0.5;
}
::-webkit-scrollbar-thumb:hover {
  background: #518fb3;
}
::-webkit-scrollbar-thumb:active {
  background: #41728f;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    hsl(var(--clr-bg)) 0%,
    hsl(var(--clr-bg)) 50%,
    hsl(var(--clr-sec)) 50%,
    hsl(var(--clr-sec)) 100%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: "Tilt Warp", "cursive";
}

.btn__vote--heart {
  background: url("/heart.svg");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.btn__vote--heartbreak {
  width: 20px;
  height: 20px;
  background-image: url("/heartbreak.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.btn__vote--heart:disabled,
.btn__vote--heartbreak:disabled {
  /* disabled button no animation */
  animation: none;
  pointer-events: none;
}

.heartFilled {
  width: 20px;
  height: 20px;
}

select,option {
  font-family:"Lucida Console", Monaco, monospace;


}
@supports (font-family: "Tilt Warp", "cursive") {
  select,option {
    font-family: "Tilt Warp", "cursive"
  }
 
}

input[type="file"]::file-selector-button {
  all: unset;
  content: " Select a file...";
  padding-right: 1rem;
  color: rgb(148 163 184);
}

input[type="file"]::file-selector-button:hover {
  color: rgb(100 116 139);
}
.lazy-load-image {
  width: 150px;
  height: 138px;
}
.lazy-load-image-2 {
  min-width: 194px;
  min-height: 109px;
  overflow: hidden;
}

@media only screen and (min-width: 1280px) {
  .lazy-load-image {
    width: 180px;
    height: 166px;
  }
}
